@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Cormorant+SC:wght@300;700&family=DM+Sans&family=Hind+Siliguri:wght@500&family=Ibarra+Real+Nova&family=Koulen&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Orbitron:wght@500;600&family=Oswald:wght@200&family=Poppins:wght@100&family=Roboto&family=Tiro+Gurmukhi&family=Ubuntu:wght@300&display=swap");
.section .container {
  padding: 33px;
}
.section .container .big-box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .container .big-box .box .box-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section .container .big-box .box .box-text .title-shop {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  width: 555px;
  line-height: 73px;
  color: #030D15;
}
.section .container .big-box .box .box-text .title-shop span {
  color: #247CC0;
  background: rgba(36, 124, 192, 0.3);
}
.section .container .big-box .box .box-text p {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #030D15;
  opacity: 0.6;
}
.section .container .big-box .box .box-text .box-btn {
  display: flex;
  column-gap: 20px;
  align-items: center;
  text-align: center;
}
.section .container .big-box .box .box-text .box-btn .btn-shopNow {
  width: 151px;
  height: 58px;
  background: #247CC0;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.section .container .big-box .box .box-text .box-btn .price {
  width: 71px;
  height: 27px;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #030D15;
}
.section .container .big-box .box .box-text .box-btn .ago-price {
  width: 65px;
  height: 27px;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #030D15;
  opacity: 0.5;
}
.section .container .big-box .box-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 60px;
  height: 237px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  border-radius: 0px;
}
.section .container .big-box .box-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.section .container .big-box .box-card .card {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.section .container .big-box .box-card .card .text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section .container .big-box .box-card .card .text h4 {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030D15;
}
.section .container .big-box .box-card .card .text p {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #030D15;
  width: 256px;
}
.section .container .big-box .box-card .card .text .priceBox {
  display: flex;
  column-gap: 20px;
}
.section .container .big-box .box-card .card .text .priceBox .newPrice {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #030D15;
  width: 57px;
  height: 27px;
}
.section .container .big-box .box-card .card .text .priceBox .oldPrice {
  width: 48px;
  height: 27px;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: line-through;
  color: gray;
}
.section .container .big-box .box-card .card .text button {
  height: 52px;
  background: #537FE7;
  border: none;
  border-radius: 10px;
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

/*# sourceMappingURL=home.css.map */
